@import '../../globals.css';

#chatSection
{
	position: absolute;
	left: 0;
	width: 100vw;
	margin-top: 120px;

	display: flex;
	flex-direction: horizontal;
	justify-content: space-between;

}

#users
{
	width: 25vw;
	height: 70vh;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

#friends
{
	height: 60%;
	border: 1px solid var( --cNeon );
	border-radius: 1px;

	display: flex;
	flex-direction: column;
	align-items: flex-start;
}


#friends li, #members li
{
	color: var( --cNeon );
	font-family: SkwarLetter, SkwarNumber, SkwarPunc, SkwarSym;
	font-weight: 350;
	margin-bottom: 0.5em;
	cursor: pointer;
	list-style: none;
	font-size:0.8em;
}

#friends li::before, #members li::before
{
	content: "\2022";
	display: inline-block;
	width: 1em;
	margin-left: -1em;
}

.away::before
{
	color: red;
}

.playing::before
{
	color: orange;
}

.connected::before
{
	color: var( --cNeon );
}

#members
{
	height: 35%;
	border: 1px solid var( --cNeon );
	border-radius: 1px;

	display: flex;
	flex-direction: column;
	align-items: flex-start;
}



#chatParent
{
	width: 45vw;
	height: 70vh;
	display: flex;
	flex-direction: horizontal;
	align-items: center;
}

#chat
{
	width: 100%;
	height: 100%;
	padding: 0;
	border: var( --cNeon ) 1px solid;

	display: flex;
	flex-direction: column;
/*	align-items: flex-start;*/
	justify-content: space-between;
}

#messages
{
	height: 80%;
	overflow-y: scroll;
	display: flex;
	flex-direction: column;
/*	align-items: flex-start;*/
	padding-left:1.5em;
	padding-right:1.5em;
	
}

#chat .messages
{
	margin-bottom: 0.5em;
	font-family: SkwarLetter, SkwarNumber, SkwarPunc, SkwarSym;
	display: flex;
	flex-direction: column;
	max-width:80%;
}

#messages .me {
	align-self: flex-end;
}

.messages .sender {
	align-self: flex-end;
	padding-bottom:0.4em;
}

.me .body {
	align-self: flex-end;
	background-color: rgba(89, 168, 15, 0.2);
	border: 1px solid rgba(89, 168, 15, 0);

}

.other .body {
	border: 1px solid rgba(89, 168, 15, 0.5);
}

#messages .other {
	align-self: flex-start;
}
#messages .other .sender {
	align-self: flex-start;
}




#chat .sender
{
	margin-right: 1em;
	color: var( --cNeonLight );

	font-family: SkwarLetter, SkwarNumber, SkwarPunc, SkwarSym;
	font-weight:850;
	font-size: 0.4em;
}

#chat .body
{
	display:block;
	color: var( --cNeon );
	font-family: SkwarLetter, SkwarNumber, SkwarPunc, SkwarSym;
	font-size: 0.6em;
	letter-spacing: 0.2em;
	line-height: 1.8;
	font-weight:700;
	padding:0.6em;
}

#chat .date {
	display:block;
	margin-right: 1em;
	margin-top: 2em;
	color: rgba(89, 168, 15, 0.5);
	padding-bottom:1em;

	font-family: SkwarLetter, SkwarNumber, SkwarPunc, SkwarSym;
	font-weight:850;
	font-size: 0.7em;
}

.me .date {
	text-align: left;
}
.other .date {
	text-align: right;
}

#chat form
{
	display: flex;
	flex-direction: horizontal;
	justify-content: space-between;
	height: 10%;
}

#chat form input:nth-child(1)
{
	background-color: var( --cBackground );
	color: var( --cNeonLight );
	width: 80%;
/*	height: 30px;*/
	padding: 0.4em;
	border-radius: 2px;
	border: 1px solid var( --cNeon );
	font-family: SkwarLetter, SkwarNumber, SkwarPunc, SkwarSym;
}

#chat form input:nth-child(2)
{
	cursor: pointer;
	background-color: var( --cBackground );
	color: var( --cNeon );
	width: 15%;
	border: 2px groove var( --cNeon );
	font-family: SkwarLetter, SkwarNumber, SkwarPunc, SkwarSym;
}

#chat form input:nth-child(2):hover
{
	background-color: var( --cNeon );
	color: var( --cBackground );
}

#channels
{
	width: 25vw;
	height: 70vh;
	border: 1px solid var( --cNeon );
	border-radius: 1px;

	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

#channels li
{
	color: var( --cNeon );
	font-family: SkwarLetter, SkwarNumber, SkwarPunc, SkwarSym;
	font-weight: 250;
	margin-bottom: 0.5em;
	list-style-type: square;
	cursor: pointer;
}

#friends li:hover, #members li:hover, #channels li:hover
{
	color: var( --cBackground );
	background-color: var( --cNeon );
}


h1
{
	font-family: SkwarLetter, SkwarNumber, SkwarPunc, SkwarSym;
	font-weight: 300;
	color: var( --cNeon );
	border-radius: 0.125em;

	align-self: center;
	padding: 0.7rem 0.7rem;
	margin-bottom: 0.125em;

	overflow-wrap: anywhere;
	overflow-y: hidden;
}

ul
{
	overflow-y: scroll;
}
	
li
{
	overflow-wrap: anywhere;
}

@media only screen and ( min-width: 1220px )
{
	#chatSection{ margin-top: 50px; }
}
