@import '../../globals.css';


/* Message */

#chat-section
{
	position: absolute;
	left: 0;

	width: 80%;
	height:70%;

	margin-top: 120px;
	margin-left:10%;
	margin-right:10%;

	display: flex;
	flex-direction: row;
	justify-content: center;
}

#chat-section {
	color: var( --cNeon );

	font-family: SkwarLetter, SkwarNumber, SkwarPunc, SkwarSym;
	font-weight: 350;
}

#chat-rooms {
	position: absolute;
	top:1em;
	left: -2.8em;

	overflow:hidden;

	background: var(--cBackground);

	width:2em;
	height:2em;
	max-width:20em;
	max-height: calc(100% - 2em);

	border: 1px solid var(--cNeon);
	border-radius: 1em;

	transition: width 1s , height 1s, border-radius 1s, background 1s ease;
}

#chat-rooms:hover {
	background: var(--cBackground);

	height:100%;
	width: 50%;

	border-radius: 0em;
}


#chat-rooms .chat-block {
	opacity:0%;

	transition: display 1s, opacity 0.5s;
}

#chat-rooms:hover > .chat-block {
	right: 0%;

	opacity:100%;
}

#chat-joined-rooms .joined-rooms
{
	color: var( --cNeon );
}

#chat-users {
	position: absolute;
	top:1em;
	right: -2.8em;

	overflow:hidden;

	background: var(--cBackground);

	width:2em;
	max-width:20em;
	height:2em;
	max-height: calc(100% - 2em);

	border: 1px solid var(--cNeon);
	border-radius: 1em;

	transition: width 1s , height 1s, border-radius 1s, background 1s ease;
}

#chat-users:hover {
	background: var(--cBackground);

	height:100%;
	width: 50%;

	border-radius: 0em;
}


#chat-users .chat-block {
	opacity:0%;

	transition: display 1s, opacity 0.5s;
}

#chat-users:hover > .chat-block {
	right: 0%;

	opacity:100%;
}

.chat-block {
	padding-top:5%;
	padding-bottom:5%;
	padding-left:10%;
	padding-right:10%;

	display: flex;
	flex-direction: column;

	height:95%;

}

#chat-rooms #chat-joined-rooms {
	max-height:45%;

}

#chat-rooms #chat-private-rooms {
	max-height:20%;
}

#chat-rooms #rooms-controls
{
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

#chat-joined-rooms li
{
	list-style: square;
	cursor: pointer;
}

#chat-joined-rooms li:hover
{
	color: var(--cBackground );
	background-color: var( --cNeon );
}

#chat-users .chat-block {
	max-height:45%;

	overflow-wrap: nowrap !important;
}

.chat-title {
	font-family: SkwarLetter;
	font-size:1.5em;
	font-weight: 450;

	color: var( --cNeonLight );

	align-self: center;

	margin-bottom: 10%;
}

.chat-list {
	color: var( --cNeon );

/*	overflow-wrap: anywhere;*/
	overflow-y:scroll;

	align-self: flex-start;

	width:80%;
	height:100%;

	font-family: SkwarLetter;
	line-height: 1.7;
	font-size:0.8em;

	padding-bottom: 1.8em;
	padding-left:20%;
	padding-right:20%;

}

#chat-content {
	display: flex;
	flex-direction: column;

	width:70%;
	height:100%;

	border: 1px solid var(--cNeon80); 
}

#chat-header
{
	height: 60px;
	border-bottom: 1px solid var( --cNeon80 );

	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

#chat-header Button#quit
{
	margin: 0.4em;
	margin-right: 0;

	color: rgba( 255, 0, 0, 0.7 );
	border: 1px solid rgba( 255, 0, 0, 0.7 );
	font-size: 1.2em;
	font-weight: 900;
}

#chat-header Button#quit:hover
{
	color: var( --cBackground );
	background-color: rgba( 255, 0, 0, 0.7 );
}

#chat-header #chat-name
{
	width: 100%;
	margin-left: 0.5em;
	font-size: 1.7em;
	font-weight: 500;

	text-align: center;
	align-self: center;

}

#chat-header #iconSettings
{
	height: 40px;
	width: 40px;
	margin-right: 0.5em;
	cursor: pointer;

	align-self: center;
}

#chat-header #iconSettings path
{
	fill: var( --cNeonDark );
}

#chat-header #iconSettings:hover path,
#chat-header #iconSettings:focus path
{
	fill: var( --cNeon );
}

#chat-messages {
	display: flex;
	flex-direction: column;

	overflow-y: scroll;

	padding-left:1.5em;
	padding-right:1.5em;
	padding-bottom:1em;

	height: 93%;
}

#chat-form {
	display: flex;
	flex-direction: horizontal;
	justify-content: space-between;

	height: 7%;

	border-top: 1px solid var(--cNeon80);
	box-shadow: 0 -1.3em 1em -0.5em var( --cBackground );
}

#chat-form-input {
	color: var( --cNeonLight );
	background-color: var( --cBackground );

	padding-left: 2em;
	padding-right: 2em;

	width: 85%;

	font-family: SkwarLetter, SkwarNumber, SkwarPunc, SkwarSym;
	font-size: 0.8em;
	font-weight:700;
	letter-spacing: 0.2em;
	line-height: 1.8;

	border:none;
	outline:none;
}

#chat-form-submit
{
	color: var( --cNeon );
	background-color: var( --cBackground );

	cursor: pointer;

	width: 15%;

	border:none;
	border-left: 1px solid var( --cNeon );

	font-family: SkwarLetter, SkwarNumber, SkwarPunc, SkwarSym;
}

#chat-form-submit:hover
{
	color: var( --cBackground );
	background-color: var(--cNeon80);
}
	
.menu-friends
{
    right: 0;
    margin-top: -1em;
}

#chat-friends #users-friends-titles
{
	font-size: 0.53em;

	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

.friends-title:not(.selected), .users-title:not(.selected)
{
	color: var( --cNeon30 );
	cursor: pointer;
}

.friends-title.selected, .users-title.selected
{
	color: var( --cNeonLight );
}

.friends-title:not(.selected):hover, .users-title:not(.selected):hover
{
	color: var( --cNeonLight );
}

/* Message 1220px */
@media only screen and ( min-width: 1220px )
{
	#chat-section
	{ margin-top: 60px;}

	#chat-users {
		position: static;

		background: var(--cBackground);

		width:25%;
		height:100%;
		max-height:100%;

		border: none;
		border-radius: 0em;

		transition: none;
	}

	#chat-users:hover {
		height:100%;
		width: 25%;

		border-radius: 0em;
	}


	#chat-users .chat-block {
		opacity:100%;

		transition: none;
	}

	#chat-users:hover > .chat-block {
		opacity:100%;
	}

	#chat-rooms {
		position: static;

		background: var(--cBackground);

		width:25%;
		height:100%;
		max-height: 100%;

		border: none;
		border-radius: none;

		transition: none;
	}

	#chat-rooms:hover {
		background: var(--cBackground);

		height:100%;
		width: 25%;

		border-radius: 0em;
	}


	#chat-rooms .chat-block {
		opacity: 100%;

		transition: none; 
	}

	#chat-rooms:hover > .chat-block {
		opacity:100%;
	}

	.menu-friends
	{
		margin-right: -3em;
	}
}




/* Message */

.msg
{
	margin-bottom: 0.5em;

	font-family: SkwarLetter, SkwarNumber, SkwarPunc, SkwarSym;

	display: flex;
	flex-direction: column;

	max-width:80%;

	overflow-wrap:break-word;
}

.msg-me, .msg-me .msg-sender {
	align-self: flex-end;
}

.msg-them, .msg-them .msg-sender {
	align-self: flex-start;
}

.msg-sender
{
	color: var( --cNeonLight );

	padding-bottom:0.1em;
	margin-right: 1em;

	font-family: SkwarLetter, SkwarNumber, SkwarPunc, SkwarSym;
	font-weight:850;
	font-size: 0.5em;
}

.msg-body
{
	display:block;

	color: var( --cNeon );

	font-family: SkwarLetter, SkwarNumber, SkwarPunc, SkwarSym;
	font-size: 0.6em;
	font-weight:600;
	letter-spacing: 0.2em;
	line-height: 1.8;

	padding:0.6em;
}

.msg-me .msg-body {
	background-color: var(--cNeon20);

	border: 1px solid var(--cNeon20);
}

.msg-them .msg-body {
	border: 1px solid var(--cNeon20);
}

.msg-date {
	display:block;

	color: var(--cNeon50);

	margin-right: 1em;
	margin-top: 2em;
	padding-bottom:1em;

	font-family: SkwarLetter, SkwarNumber, SkwarPunc, SkwarSym;
	font-weight:850;
	font-size: 0.7em;
}

.msg-me .msg-date {
	text-align: left;
}
.msg-them .msg-date {
	text-align: right;
}

/* Scrollbar */

#chat-section {
	scrollbar-color: var(--cNeon50) var(--cBackground);
}

#chat-section *::-webkit-scrollbar {
	width: 0.5em;
}

#chat-section *::-webkit-scrollbar-track {
	background: var(--cBackground);
}

#chat-section *::-webkit-scrollbar-thumb {
	background: var(--cNeon50);
}

#chat-section *::-webkit-scrollbar-thumb:hover {
	background: var(--cNeon30);
}
