@import '../../globals.css';

#edit-settings-wall {
	position: fixed;

	left: 0;
	top: 0;

	width: 100%;
	height:100%;

	background-color: rgba(0,0,0,0.2);

	backdrop-filter: blur(0.3em);

	z-index: 1;
}

#edit-settings-window {
	position: fixed;

	left: calc(50% - 13em);
	top: calc(50% - 20em);

	background-color: var(--cBackground);

	border:1px solid var(--cNeon);

	width:26em;
	height:40em;
/*
	display:flex;
	flex-direction: column;
	justify-content:space-between;
*/
	z-index: 2;
}

#edit-settings-window #edit-settings-input
{
	height: 10em;
	margin: 0.4em;
	padding: 0;

	display:flex;
	flex-direction: column;
	justify-content: space-around;
}

#edit-settings-input-toggle-label, #edit-settings-input-toggle-pass-label
{
	font-size: 0.8em;
	margin-right: 1em;
	margin-left: 1em;

	display: inline-block;
}

#edit-settings-input-toggle
{
	display: inline-block;
}

#edit-settings-button-save-parent
{
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

#edit-settings-button-delete, #nah
{
	color: rgba( 255, 0, 0, 0.5 );
	border: 1px solid rgba( 255, 0, 0, 0.5 );
}

#edit-settings-button-delete:hover, #nah:hover
{
	color: var( --cBackground );
	background-color: rgba( 255, 0, 0, 0.5 );
}

#really-nah
{
	width: 10em;

	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

#edit-settings-button
{
	display: flex;
	justify-content: center;
}

#edit-settings-button Button{
	width:calc(50% - 0.8em);
	margin:0.4em;
}

#edit-settings-members-parent
{
	height: 29em;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

#edit-settings-members-parent h3
{
	font-size: 1.2em;
	color: var( --cNeonLight );
	text-align: center;
	font-weight: 700;
}

#edit-settings-members
{
	height: 100%;
	overflow: scroll;

	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

#edit-settings-members .members
{
	margin: 0.7em;

	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.members .controls
{
	width: 11em;

	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.members .controls .selected
{
	color: var( --cNeon80 );
	border: 1px solid var( --cNeon80 );
}

.members .controls .unselected
{
	color: rgba( 255, 0, 0, 0.8 );
	border: 1px solid rgba( 255, 0, 0, 0.8 );
}

.members .controls .selected:hover
{
	color: var( --cBackground );
	background-color: var( --cNeon80 );
}

.members .controls .unselected:hover
{
	color: var( --cBackground );
	background-color: rgba( 255, 0, 0, 0.8 );
}


#edit-settings-button-cancel {
	border: 1px solid rgba(255, 0, 0, .5);
	color: rgba(255, 0, 0, .5);
}

#edit-settings-button-cancel:hover {
	color: var(--cBackground);
	background-color: rgba(255, 0, 0, .5);
}
