@import '../../globals.css';

#user-section {
	position: absolute;
	left: 0;

	width:80%;
	height:70%;

	margin-top: 120px;
	margin-left:10%;
	margin-right:10%;

	display: flex;
	flex-direction:column;

	color: var(--cNeon);
	font-family: SkwarLetter, SkwarNumber, SkwarPunc, SkwarSym;
	font-weight: 350;


}

#user-id {

	display: flex;
	flex-direction: row;
	justify-content: flex-start;

	height: 10em;

}

#user-id-avatar img {
	width: 10em;
	height: 10em;

	border-radius: 10em;

	align-self:flex-start;

}

#user-id-info {
	display: flex;
	flex-direction: column;
	justify-content:space-between;
	width: calc(100% - 10em);

	margin-left: 5%;
}

#user-id-info * :not(.menu-match) {
	padding:0;
	margin:0;
	padding-bottom:0.3em;
}

#user-id-name {
	font-size: 1em;
	font-weight: 550;
	line-height: 1.7;

	color: var(--cNeonLight);

}

#user-id-pseudo :not(.menu-match) {
	font-size: 0.9em;
	color: var(--cNeon);
}

#user-id-elo {
	font-size: 0.8em;
	color: var(--cNeonDark);
	margin-bottom:1em;
}

#user-matchhistory {
/*	margin: 5%; */
	margin-top: 3em;
	display:flex;
	flex-direction:column;
/*	overflow-y: scroll;*/
}

.user-title {
	font-family: SkwarLetter;
	font-size:1.5em;
	font-weight: 450;

	color: var( --cNeonLight );

	align-self:center;

	margin-bottom: 1em;
/*
	margin-top: 2em;
*/
}

.user-list {
	color: var( --cNeon );

/*
	overflow-wrap: anywhere;
	overflow-y:scroll;
*/

	align-self: flex-start;

	width:100%;
	height:100%;

	font-family: SkwarLetter;
	line-height: 1.7;
	font-size:0.8em;

	padding-bottom: 1.8em;

}

#match-history
{
	width: 100%;
}

#match-history th
{
	color: var( --cNeonLight );
	padding-bottom: 1em;
	font-size: 1.5em;
	font-weight: 450;
}

#match-history td
{
	border-top: 1px solid rgba( 89, 168, 15, 0.3 );
	color: var( --cNeon );
	font-family: SkwarLetter, SkwarNumber, SkwarPunc, SkwarSym;
	font-size: 1rem;
	font-weight: 350;
	line-height: 2;
}

#match-history td:nth-child(1)
{
	width: 40vw;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

#match-history .pseudovs
{
	height: 2.1em;
	white-space: nowrap;
	overflow: hidden;
	margin-right: 0.5em;
}

#match-history .pseudo-match
{
	display: inline-block;
}

#match-history .stats
{
	width: 11em;
	height: 2.1em;
	white-space: nowrap;
	overflow: visible;
}

#match-history .victories
{
	color: var( --cNeonLight );
}

#match-history .defeats
{
	color: rgba( 255, 0, 0, 0.7 );
}

#match-history td:nth-child(2)
{
	width: 15vw;
	height: 2.1em;
	padding-left: 1em;
	padding-right: 1em;
	white-space: nowrap;
	overflow: hidden;
	text-align: center;
}

#match-history .won
{
	color: var( --cNeonLight );
}

#match-history .lost
{
	color: rgba( 255, 0, 0, 0.7 );
}

#match-history td:nth-child(3)
{
	width: 25vw;
	height: 2.1em;
	white-space: nowrap;
	overflow: hidden;
	text-align: center;
}

.menu-match
{
	margin-left: 5em;
	margin-top: -1em;
}

@media only screen and ( min-width: 1220px ) {
	#user-section {
		flex-direction:row;
		justify-content: space-between;
		height:60%;
	}

	#user-id {
		flex-direction: column;
		align-self:flex-start;
		width:15em;
		height: 100%;
	}

	#user-id-avatar img {
		width: 15em;
		height: 15em;

		border-radius: 15em;

		margin-bottom:1em;
	}

	#user-id-info {
		width: calc(100%);
		margin-left: 0%;
	}

	#user-matchhistory {
		height: 70%;
		width:72%;
	}

	#match-history td:nth-child(1)
	{
		width: 30vw;
	}

}
