@import "../../globals.css";

#gameSection
{
	position: absolute;
	left: 0;
	margin-top:120px;
	width: 100vw;

	display: flex;
	flex-direction: column;
	align-items: center;
}

#game
{
	position: relative;
	width: 80vw;

	border: var( --cNeon ) 0.1em solid;

}

#gameScore
{
	position: relative;
	width: 70vw;
	display: flex;
	flex-direction: row;
	align-items: center;
	color: var( --cNeon );
	font-size: 1.5rem;	
	font-weight: 450;
	font-family: SkwarLetter, SkwarNumber, SkwarPunc, SkwarSym;
	margin:1em;
}

#playerLeft{
	width:50%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

#playerRight{
	width:50%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

#playerLeftName{
	align-self: flex-start;
	margin-top: auto;
}

#playerRightName{
	align-self: flex-end;
	margin-top: auto;
}

#playerLeftScore{
	align-self: flex-end;
	margin-right: 2em;
}

#playerRightScore{
	align-self: flex-start;
	margin-left: 2em;
}

#vs {
	color: var( --cNeonDark );
	font-size: 0.8em;
	font-weight: 450;
}

#btnCtrl {
	margin: 1em;
	display: flex;
	flex-direction: column;
	justify-content: center;
	width:30%;
}

#game-button-start {
	margin: 0.3em;
	width:100%;
}

#obs {
	padding:0em;
	margin: 0.3em;
	border: 1px solid var( --cNeon );
	border-radius: 2px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	background-color: var(--cNeonDark);
	width:100%;
}

#obsButton {
	background-color: var(--cBackground);
	color: var( --cNeon );
	margin:0;
	border:none;
	padding: 0.5em;
	border-right: 1px solid var( --cNeon );
	font-family: Skwar;
	font-size:1.2em;
	cursor: pointer;
}
#obsButton:hover {
	background-color: var(--cNeon);
	color: var( --cBackground );
}

#obsInput {
	width:100%;
	margin:0;
	padding: 0.5em;
	background-color: var(--cBackground);
	color: var( --cNeonDark );
	border:none;
	outline: none;
	font-family: SkwarLetter, SkwarNumber, SkwarPunc, SkwarSym;
	font-size: 0.8rem;	
}
#obsInput:hover, #obsInput:focus {
	color: var( --cNeonDark );
}

#game-end-screen {
	font-family: SkwarLetter, SkwarNumber, SkwarPunc, SkwarSym;
	font-size: 2rem;	

	color: var( --cNeon );
	background-color: rgba(0,0,0,0.2);
	backdrop-filter: blur(0.3em);

	border-right: 1px solid var( --cNeon );
	position: fixed;
	top:0;
	left:0;

	width:100%;
	height:100%;

	text-align:center;
	padding-top: 45%;

}

@media only screen and ( min-width: 1220px )
{
	#gameSection {
		margin-top: 30px;

		flex-direction: column;
		align-items: center;
	}

	#game {
		width: 70vw;
	}

	#gameScore {
		width: 60vw;
	}
}

