@import "../globals.css";

#navbarIcon
{
	float: right;
	width: 300px;
	height: 66px;

	align-self: end;
	display: flex;
	align-items: center;
	justify-content: space-between;

	/*
	border-style: solid;
	border-color: blue;
	border-width: 1px;
	*/
}

.navbarIcon
{
	width: 60px;
	height: 60px;
	cursor: pointer;

	/*
	border-style: solid;
	border-color: yellow;
	border-width: 1px;
	*/
}

.navbarIcon path
{
	fill: var( --cNeon );
}

#iconGame
{
	filter: drop-shadow(0px 0px 3px var( --cNeonLight ) );
}

#iconGame text, circle
{
	fill: var( --cNeon );
}

#iconGame line
{
	stroke: var( --cNeon );
	stroke-width: 2;
}

#iconGame rect
{
	stroke: var( --cNeon );
	stroke-width: 1;
}

#iconLeaderboard
{
	filter: drop-shadow(0px 0px 3px var( --cNeonLight ) );
}

#iconChat
{
	filter: drop-shadow(0px 0px 4px var( --cNeonLight ) );
}

#iconChat rect
{
	fill: var( --cNeon );
}

#iconUser
{
	filter: drop-shadow(0px 0px 4px var( --cNeonLight ) );
	transform: translate( -10, -10 );
}

#iconLogout
{
	background-color: var( --cBackground );
	border: none;
}

#iconLogout path
{
	filter: drop-shadow(0px 0px 5px var( --cNeonLight ) );
}

#navbarText
{
	margin-top: 80px;
	margin-left: 25%;
	width: 50%;

	display: none;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;

	/*
	border-style: solid;
	border-color: blue;
	border-width: 1px;
	*/

}

#navbarText *
{
	text-decoration: none;
	cursor: pointer;
	background-color: var( --cBackground );
	padding: 0.7rem 0.7rem 1rem 1rem;

	color: var( --cNeon );
	font-size: 1.5rem;	
	font-family: Skwar;
	font-weight: 450;
	text-shadow:
		0 0 0.1em #ffffff,
		0 0 0.5em var( --cNeon );

	border: var( --cNeon ) 0.1em solid;
	border-radius: 0.2em;
	box-shadow:
		inset 0 0 0.5em var( --cNeon ),
		0 0 0.5em var( --cNeon );
}

#navbarText *:hover,
#navbarText *:focus
{
	background-color: var( --cNeon );
	color: var( --cBackground );
	text-shadow: none;
	box-shadow: 0 0 1.1em 0.1em var( --cNeon );
}

@media only screen and ( min-width: 1220px )
{
	.navbarIcon:not(#iconLogout) { display: none; }
	#iconLogout { position: absolute; top: 10px; right: 10px; }
	#navbarText { display: flex; }
}
