@import '../../globals.css';

.generic-button
{
	color: var( --cNeon );
	background-color: var( --cBackground );

	font-family: SkwarLetter, SkwarNumber, SkwarPunc, SkwarSym;

	cursor: pointer;

	border: 1px solid var(--cNeon);
	padding: 0.5em;
	font-weight:550;
}

.generic-button:hover
{
	color: var( --cBackground );
	background-color: var( --cNeon );
}

