@import '../../globals.css';

/*
font-family: SkwarLetter, SkwarNumber, SkwarPunc, SkwarSym;
*/

.menu-users
{
	position: absolute;
	border: 1px solid var( --cNeon );
	background-color: var( --cBackground );
}

.menu-users nav
{
	height: 7em;
	padding: 0.7em 0.8em;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.nav-users
{
	text-decoration: none;
	text-align: left;
	color: var( --cNeonLight );
	background-color: var( --cBackground );
	border: none;
	font-size: 0.7em;
	font-family: SkwarLetter;
	font-weight: 400;
	margin: 0;
	padding: 0.5em 0.3em;
}

.nav-users:hover
{
	cursor: pointer;
	color: var( --cBackground );
	background-color: var( --cNeon80 );
}


