@import '../../globals.css';

.generic-textinput
{
	color: var( --cNeonDark );
	background-color: var( --cBackground );

	font-family: SkwarLetter, SkwarNumber, SkwarPunc, SkwarSym;

	cursor: pointer;

	border: 1px solid var(--cNeon);
	padding: 0.5em;
}

.generic-textinput:focus
{
	color: var( --cNeon );
}

