@import "../../globals.css";

footer
{
	position: absolute;
	top: 110vh;
	left: 0;
	width: 98%;
	height: 30px;

	border-bottom: 1px solid var( --cNeon80 );
}

footer p
{
	text-align: right;
	width: 100%;
	color: var( --cNeon80 );
	font-size: 0.6em;
	font-weight: 350;
}

