@import '../../globals.css';

#leaderboard-section
{
	position: absolute;
	left: 0;

	margin-top: 120px;
	margin-left:10%;
	margin-right:10%;

	width: 80%;
	height: 70%;

	display: flex;
	flex-direction: column;
	align-items: center;

	color: var( --cNeon );

	font-family: SkwarLetter, SkwarNumber, SkwarPunc, SkwarSym;
	font-size: 1rem;
	font-weight: 350;

}


#leaderboard-table
{
	width: 100%;
	height:100%;
	max-width:1220px;
	min-width:500px;
}

#leaderboard-header {
	background-color: var(--cBackground);

	display: flex;
	flex-direction: row;
	align-items: center;
}

.leaderboard-header-cell {
	color: var( --cNeonLight );

	padding-bottom:1em;

	text-align: center;

	font-size:1.5em;
	font-weight: 450;

	width:33.3333%;
}

#leaderboard-entry-list {

	height:100%;
	overflow-y: scroll;
}

.leaderboard-entry {
	display: flex;
	flex-direction: row;
	align-items: center;

	padding-top: 0.5em;
	padding-bottom: 0.5em;

	border-top: 1px solid rgba(89, 168, 15, 0.3);;
}

.leaderboard-cell {
	text-align: center;

	line-height: 1.9;

	width:33.3333%;
}

.menu-leaderboard
{
	left: 55%;
	margin-top: -1.5em;
}

@media only screen and ( min-width: 1220px )
{
	#leaderboard-section {
		margin-top: 60px;
		height:60%;
	}
}

/*
#leaderboard th
{
	text-align: center;
	opacity: 100%;
	color: var( --cNeonLight );

	font-size: 1.7rem;
	font-weight: 400;
	padding: 0.8rem 0.8rem;
}

#leaderboard th:nth-child(2)
{
	border: 1px solid var( --cNeon );
}

#leaderboard th:nth-child(1)
{
	border: 1px solid var( --cNeon);
	border-top-left-radius: 2px;
	border-bottom-left-radius: 2px;
}

#leaderboard th:nth-child(3)
{
	border: 1px solid var( --cNeon);
	border-top-right-radius: 2px;
	border-bottom-right-radius: 2px;
}

#leaderboard td
{
	color: var( --cNeon );
	text-align: center;
	padding: 0.4rem 0rem;
}

#leaderboard tr:nth-child(odd) td:nth-child(2)
{
	border: 1px dashed var( --cNeon );
}

#leaderboard tr:nth-child(odd) td:nth-child(1)
{
	border-top: 1px dashed var( --cNeon );
	border-left: 1px dashed var( --cNeon );
	border-bottom: 1px dashed var( --cNeon );
	border-top-left-radius: 1px;
	border-bottom-left-radius: 1px;
}

#leaderboard tr:nth-child(odd) td:nth-child(3)
{
	border-top: 1px dashed var( --cNeon );
	border-right: 1px dashed var( --cNeon );
	border-bottom: 1px dashed var( --cNeon );
	border-top-right-radius: 1px;
	border-bottom-right-radius: 1px;
}

@media only screen and ( min-width: 1220px )
{
{
}
*/

