@import "../../globals.css";

#navbarIcon
{
	float: right;
	width: 330px;
	height: 66px;

	align-self: end;
	display: flex;
	align-items: center;
	justify-content: space-between;

	/*
	border-style: solid;
	border-color: blue;
	border-width: 1px;
	*/
}

.navbarIcon
{
	width: 60px;
	height: 60px;
	cursor: pointer;

	/*
	border-style: solid;
	border-color: yellow;
	border-width: 1px;
	*/
}

.navbarIcon path
{
	fill: var( --cNeonDark );
}


/* Icon Game */
#iconGame{
	filter: drop-shadow(0px 0px 0px var( --cNeonDark ) );
}
#iconGame text, circle {
	fill: var( --cNeonDark );
}
#iconGame line {
	stroke: var( --cNeonDark );
	stroke-width: 4;
}
#iconGame:focus, #iconGame:hover{
	filter: drop-shadow(0px 0px 3px var( --cNeonLight ) );
}
#iconGame:focus text, #iconGame:focus circle, #iconGame:hover text, #iconGame:hover circle {
	fill: var( --cNeonLight );
}
#iconGame:focus line, #iconGame:hover line {
	stroke: var( --cNeonLight );
	stroke-width: 4;
}



/* Icon Leaderboard */
#iconLeaderboard {
	filter: drop-shadow(0px 0px 0px var( --cNeonDark ) );
}
#iconLeaderboard:hover, #iconLeaderboard:focus {
	filter: drop-shadow(0px 0px 4px var( --cNeonLight ) );
}
#iconLeaderboard:hover path, #iconLeaderboard:focus path {
	fill: var( --cNeonLight );
}



/* Icon Chat */
#iconChat {
	filter: drop-shadow(0px 0px 0px var( --cNeonDark ) );
}
#iconChat rect {
	fill: var( --cNeonDark );
}
#iconChat:hover, #iconChat:focus {
	filter: drop-shadow(0px 0px 4px var( --cNeonLight ) );
}
#iconChat:hover rect, #iconChat:focus rect,
#iconChat:hover path, #iconChat:focus path {
	fill: var( --cNeonLight );
}



/* Icon User */
#iconUser
{
	filter: drop-shadow(0px 0px 0px var( --cNeonDark ) );
}
#iconUser:hover, #iconUser:focus {
	filter: drop-shadow(0px 0px 4px var( --cNeonLight ) );
}
#iconUser:hover path, #iconUser:focus path {
	fill: var( --cNeonLight );
}




/* Icon Logout */
#iconLogout {
	position: relative;
	background-color: var( --cBackground );
	border: none;
}
#iconLogout:hover path {
	filter: drop-shadow(0px 0px 5px var( --cNeonLight ) );
	fill: var( --cNeonLight );
}



/* NavText */
#navbarText
{
	margin-top: 80px;
	margin-left: 25%;
	width: 50%;

	display: none;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;

	/*
	border-style: solid;
	border-color: blue;
	border-width: 1px;
	*/

}

#navbarText *
{
	text-decoration: none;
	cursor: pointer;
	background-color: var( --cBackground );
	padding: 0.7rem 0.7rem 1rem 1rem;

	color: var( --cNeonDark );
	font-size: 1.5rem;	
	font-family: Skwar;
	font-weight: 450;
	/*
	text-shadow:
		0 0 0.1em #ffffff,
		0 0 0.5em var( --cNeon );
		*/

	border: var( --cNeonDark ) 0.1em solid;
	border-radius: 0.2em;
	/*
	box-shadow:
		inset 0 0 0.5em var( --cNeon ),
		0 0 0.5em var( --cNeon );
		*/
}

#navbarText *:hover{

	color: var( --cNeon );
	border: var( --cNeon ) 0.1em solid;
	text-shadow:
		0 0 0.1em #ffffff,
		0 0 0.5em var( --cNeon );
	box-shadow:
		inset 0 0 0.5em var( --cNeon ),
		0 0 0.5em var( --cNeon );
	animation: neon-blink-animation 3s infinite;
}


#navbarText *:focus
{
	color: var( --cNeon );
	border: var( --cNeon ) 0.1em solid;
	text-shadow:
		0 0 0.1em #ffffff,
		0 0 0.5em var( --cNeon );
	box-shadow:
		inset 0 0 0.5em var( --cNeon ),
		0 0 0.5em var( --cNeon );
}

@media only screen and ( min-width: 1220px )
{
	.navbarIcon:not(#iconLogout) { display: none; }
	#iconLogout { position: absolute; top: 10px; right: 10px; }
	#navbarText { display: flex; }
}

@media only screen and ( max-width: 500px )
{
	#navbarIcon
	{
		display: inline-block;
		width: 220px;
		height: 115px;
	}
	.navbarIcon
	{
		margin-left: 18px;
	}
}

